<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded"
            CustomToggle="true">
            <FluentNavLink Href="dashboard" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())"
                IconColor="Color.Accent">Dashboard</FluentNavLink>
            <FluentNavLink Href="portfolio" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())"
                IconColor="Color.Accent">Portfolio</FluentNavLink>
            <FluentNavLink Href="strategyperformance" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())"
                IconColor="Color.Accent">Strategy Performance</FluentNavLink>
            <FluentNavLink Href="tradeanalytics" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())"
                IconColor="Color.Accent">Trade Analytics</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
